.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: white;
  color: black;
}

.auth-toggle {
  width: fit-content;
  height: fit-content;
  background-color: #e6eaf1;
  text-align: right;
  cursor: pointer;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}
.auth-box {
 background-color: #e6eaf1;
  padding: 24px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.social-login button {
  background: #dc2626;
}

