.main {
    flex: 1;
    /* we've used flex 1 because it will adjust the size of main field according to sidebar extended or collapsed */
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    transition: background-color 0.5s ease;
}

.main-dark {
    flex: 1;
    /* we've used flex 1 because it will adjust the size of main field according to sidebar extended or collapsed */
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: #131314;
    color: white;
    transition: background-color 0.5s ease;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.nav p {
    cursor: pointer;
}

.nav img {
    width: 40px;
    border-radius: 50%;
}

.main-container {

    max-width: 70vh;
    max-width: 900px;
    margin: auto;
}

/* .main-container::-webkit-scrollbar{
    display: none;
} */
.greet {
    margin: 50px 0px;
    font-size: 56px;
    font-weight: 500;
    color: #c4c7c5;
    padding: 20px;
}

.greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    height: 200px;
    padding: 15px;
    position: relative;
    background-color: #f0f4f9;
    transition: background-color 0.5s ease;
    border-radius: 10px;
    cursor: pointer;
}

.main-dark .card {
    height: 200px;
    padding: 15px;
    position: relative;
    background-color: #1e1f20;
    transition: background-color 0.5s ease;
    border-radius: 10px;
    cursor: pointer;
}

.card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border-radius: 20px;
}

.card p {
    color: #585858;
    font-size: 17px;
}

.main-dark .card p {
    color: #e3e3e3;
    font-size: 17px;
}

.card:hover {
    background-color: #dfe4ea;
}

.main-dark .card:hover {
    background-color: #252628;
    ;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.searchbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    transition: background-color 0.5s ease;
    padding: 10px 20px;
    border-radius: 50px;
}

.main-dark .searchbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #1e1f20;
    transition: background-color 0.5s ease;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

.searchbox img {
    width: 24px;
    cursor: pointer;
}

.searchbox input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 8px;
    background: transparent;
}

.main-dark .searchbox input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 8px;
    background: transparent;
    color: #e3e3e3;
}

.searchbox div {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
}

.bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result {
    padding: 0% 5%;
    max-height: 70vh;
    overflow-y: auto;
}

.result-title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 14px;
}

.result-title p {
    background-color: #e6eaf1;
    transition: background-color 0.5s ease;
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
}

.main-dark .result-title p {
    background-color: #1e1f20;
    transition: background-color 0.5s ease;
    color: white;
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
}

.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    background-color: #f6f7f8;
    border: none;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }

    100% {
        background-position: 800px 0px;
    }
}

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

@media(max-width:600px) {
    .main-dark,
    .main{
        max-width: 100%;
        overflow-x: hidden;
    }
    .nav {
        justify-content: center;
        
    }
    .result{
        overflow-x: hidden;
        white-space: normal;      /* key fix */
  word-wrap: break-word;    /* breaks long words */
  overflow-wrap: anywhere; 
    }
    .main .nav::before {
        content: "";
        width: 40px;
        display: block;
    }

    
    .nav p {
        flex: 1;
        text-align: center;
    }
    
    .nav img {
        margin-left: auto;
    }

    .main-bottom input {
        flex: none;
        width: 150px;
    }

    .main-bottom img {
        width: 20px;
    }

    .searchbox {
        padding: 5px 10px;
    }

    .searchbox div {
        gap: 5px;
    }

    .searchbox input {
        font-size: 13px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        gap: 15px;
        padding: 20px;
    }
    
    .card {
        height: 150px;
        width: 150px;
    }

    .main-dark .card {
        height: 150px;
        width: 150px;
    }

    .card img {
        width: 25px;
    }

    /* .result{
        max-width: 200px ;
    } */

    .greet {
        font-size: 40px;
    }

}