.material-symbols-outlined {
  /* This ensures every icon in your app starts at the same size */
  font-size: 24px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 1em;  /* Ensures a square footprint */
  height: 1em;
}
.dark-sidebar .material-symbols-outlined {
  /* This ensures every icon in your app starts at the same size */
  font-size: 24px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 1em;  /* Ensures a square footprint */
  height: 1em;
  color: #e2e6eb;
}
.sidebar{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    transition: background-color 0.5s ease;
    padding: 25px 15px;
}
.dark-sidebar{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e1f20;
    transition: background-color 0.5s ease;
    padding: 25px 15px;
}

.sidebar img{
    width: 20px;
}
.dark-sidebar img{
    width: 20px;
}

.menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.new-chat{
    margin-top: 50px;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    color: gray;
    border-radius: 50px;
    font-size: 14;
    cursor: pointer;
    width: 100%;
}
.dark-sidebar .new-chat{
    margin-top: 50px;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #1e1f20;
    color: #e3e3e3;
    border-radius: 50px;
    font-size: 14;
    cursor: pointer;
    width: 100%;
}
.dark-sidebar .new-chat:hover{
    background-color: #27282a;
}
.recent{
    display: flex;
    flex-direction: column;
    max-height: 63vh;
    overflow-y: scroll;
    animation: fade-in 1.5s;
}
.recent::-webkit-scrollbar{
    display: none;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.dark-sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding:10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.dark-sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding:10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #e3e3e3;
    cursor: pointer;
}

.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}
.dark-sidebar .recent-entry:hover{
    background-color: #27282a;
}
.bottom{
    display: flex;
    flex-direction: column;
}
.bottom-item{
    padding-right: 10px;
    cursor: pointer;
}
@media (max-width:600px){
    .sidebar{
        display: none;
        
    }
    .dark-sidebar{
        display: none;
        
    }
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

.blinking {
  animation: blink 0.6s infinite;
}
